<!-- File: chapter4/checkbox-example.html -->
<html ng-app="notesApp">
<head>
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

    <div>
        <h2>What are your favorite sports?</h2>
        <div ng-repeat="sport in ctrl.sports">
            <label ng-bind="sport.label"></label>
            <div>
                With binding:
                <input type="checkbox"
                    ng-model="sport.selected"
                    ng-true-values="YES"
                    ng-false-values="NO">
            </div>
            <div>
                Using ng-checkbox:
                <input type="checkbox" ng-model="sport.selected" ng-checked="sport.selected === 'YES'">
            </div>
            <div>
                Current state: {{sport.selected}}
            </div>
            <br/>
        </div>
    </div>

    <!--  AngularJS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript">
        angular.module("notesApp", []).controller("MainCtrl", [function () {
            var self = this;
            self.sports = [
                {label: 'Basketball', selected: 'NO'}, 
                {label: 'Cricket', selected: 'YES'},
                {label: 'Soccer', selected:'NO'},
                {label: 'Swimming', selected:'YES'} 
            ];
        }]);
    </script>
</body>

</html>